ConnectionStrings__DefaultConnection=
JwtSettings__SupabaseJwtSecret=
GeminiSettings__ApiKey=
GeminiSettings__Model=gemini-1.5-flash
RecruiterGeminiSettings__ApiKey=
RecruiterGeminiSettings__Model=gemini-1.5-flash
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
EmailSettings__AppPassword=
JwtSettings__SupabaseUrl=
